<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Administración</h2>
  </div>
</header>
<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <div class="card">
      <div class="card-close">
        <div class="dropdown">
          <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i
              class="fa fa-ellipsis-v"></i></button>
          <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow">
            <a href="#" data-toggle="modal" (click)="$event.preventDefault(); agregar()" data-target="#exampleModal"
              class="dropdown-item edit"> <i class="fa fa-plus"></i>Agregar</a>
          </div>
        </div>
      </div>
      <div class="card-header d-flex align-items-center">
        <h3 class="h4">Listado de Productos</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped" *ngIf="producto">
            <thead>
              <tr>
                <th>#</th>
                <th>Alerta</th>
                <th>Disponibles</th>
                <th>Precio Compra</th>
                <th>Precio Venta</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Vencimiento</th>
                <th>Categoria</th>
                <th>Marca</th>
                <th>Proveerdor</th>

                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of producto">
                <td>{{ x.id }}</td>
                <td>
                  <a href="#" (click)="$event.preventDefault(); Modificar(x.id);" data-toggle="modal" data-target="#exampleModal2">
                    {{
                    x.alerta }}</a>
                </td>


                <td>
                  <a href="#" (click)="$event.preventDefault(); Modificar(x.id);" data-toggle="modal" data-target="#exampleModal2">{{
                    x.disponibles }}</a>
                </td>


                

                <td>
                  <a href="#" (click)="$event.preventDefault(); Modificar(x.id);" data-toggle="modal" data-target="#exampleModal2">{{
                    x.precioCompra }}</a>
                </td>
                <td>
                  <a href="#" (click)="$event.preventDefault(); Modificar(x.id);" data-toggle="modal" data-target="#exampleModal2">{{
                    x.precioVenta }}</a>
                </td>
                <td>
                  <a href="#" (click)="$event.preventDefault(); Modificar(x.id);" data-toggle="modal" data-target="#exampleModal2">{{
                    x.productoCodigo }}</a>
                </td>
                <td>
                  <a href="#" (click)="$event.preventDefault(); Modificar(x.id);" data-toggle="modal" data-target="#exampleModal2">{{
                    x.productoNombre }}</a>
                </td>
                <td>
                  <a href="#" (click)="$event.preventDefault(); Modificar(x.id);" data-toggle="modal" data-target="#exampleModal2">{{
                    x.vencimiento }}</a>
                </td>
                <td>
                  <a href="#" (click)="$event.preventDefault(); Modificar(x.id);" data-toggle="modal" data-target="#exampleModal2">{{
                    x.categoriaId.categoriaNombre}}</a>
                </td>
                <td>
                  <a href="#" (click)="$event.preventDefault(); Modificar(x.id);" data-toggle="modal" data-target="#exampleModal2">{{
                    x.marcaId.marcaNombre }}</a>
                </td>
                <td>
                  <a href="#" (click)="$event.preventDefault(); Modificar(x.id);" data-toggle="modal" data-target="#exampleModal2">{{
                    x.proveedorId.proveedorNombre }}</a>
                </td>


                <td>
                  <a href="#" (click)="$event.preventDefault(); Ver(x.id)" data-toggle="modal" data-target="#exampleModal2">
                    <i class="fa fa-eye"></i>
                  </a>
                </td>
                <td>
                  <a href="#" (click)="$event.preventDefault(); deleteId(x)">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>

              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ titulo }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="empleadoNombre1">Alerta</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres "
               [(ngModel)]="produc.alerta"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.id">
            </div>

            <div class="form-group">
                <label for="empleadoNombre1">Disponibles</label>
                <input disabled="{{ buttonDisabled}}" type=" text " class="form-control "
                 name="Nombres "
                 [(ngModel)]="produc.disponibles"
                  aria-describedby="emailHelp " placeholder="Nombre">
                <input type="hidden" name="id" [(ngModel)]="produc.disponibles">
              </div>


            <div class="form-group">
              <label for="empleadoNombre1">Precio Compra</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres "
               [(ngModel)]="produc.precioCompra"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.precioCompra">
            </div>

            <div class="form-group">
              <label for="empleadoNombre1">Venta</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres " 
              [(ngModel)]="produc.precioVenta"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.precioVenta">
            </div>

            <div class="form-group">
              <label for="empleadoNombre1">Codigo</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres "
               [(ngModel)]="produc.productoCodigo"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.productoCodigo">
            </div>

            <div class="form-group">
              <label for="empleadoNombre1">Nombre</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres " 
              [(ngModel)]="produc.productoNombre"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.productoNombre">
            </div>

            <div class="form-group">
              <label for="empleadoNombre1">vencimiento</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres " 
              [(ngModel)]="produc.vencimiento"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.vencimiento">
            </div>

            <div class="form-group">
              <label for="empleadoNombre1">Categoria</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres "
               [(ngModel)]="produc.categoriaId"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.categoriaId">
            </div>

            <div class="form-group">
              <label for="empleadoNombre1">Marca</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres "
               [(ngModel)]="produc.marcaId"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.marcaId">
            </div>

            <div class="form-group">
              <label for="empleadoNombre1">Proveedor</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres "
               [(ngModel)]="produc.proveedorId"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.proveedorId">
            </div>


         


          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="reset()" data-dismiss="modal">Cerrar</button>
          <input type="button" class="btn btn-primary" (click)="ProductNuevo()" data-dismiss="modal" value="Guardar">
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 UPDATE-->
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ titulo }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="empleadoNombre1">Alerta</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres "
               [(ngModel)]="produc.alerta"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.id">
            </div>

            <div class="form-group">
                <label for="empleadoNombre1">Disponibles</label>
                <input disabled="{{ buttonDisabled}}" type=" text " class="form-control "
                 name="Nombres "
                 [(ngModel)]="produc.disponibles"
                  aria-describedby="emailHelp " placeholder="Nombre">
                <input type="hidden" name="id" [(ngModel)]="produc.disponibles">
              </div>


            <div class="form-group">
              <label for="empleadoNombre1">Precio Compra</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres "
               [(ngModel)]="produc.precioCompra"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.precioCompra">
            </div>

            <div class="form-group">
              <label for="empleadoNombre1">Venta</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres " 
              [(ngModel)]="produc.precioVenta"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.precioVenta">
            </div>

            <div class="form-group">
              <label for="empleadoNombre1">Codigo</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres "
               [(ngModel)]="produc.productoCodigo"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.productoCodigo">
            </div>

            <div class="form-group">
              <label for="empleadoNombre1">Nombre</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres " 
              [(ngModel)]="produc.productoNombre"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.productoNombre">
            </div>

            <div class="form-group">
              <label for="empleadoNombre1">vencimiento</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres " 
              [(ngModel)]="produc.vencimiento"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.vencimiento">
            </div>

            <div class="form-group">
              <label for="empleadoNombre1">Categoria</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres "
               [(ngModel)]="produc.categoriaId"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.categoriaId">
            </div>

            <div class="form-group">
              <label for="empleadoNombre1">Marca</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres "
               [(ngModel)]="produc.marcaId"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.marcaId">
            </div>

            <div class="form-group">
              <label for="empleadoNombre1">Proveedor</label>
              <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="Nombres "
               [(ngModel)]="produc.proveedorId"
                aria-describedby="emailHelp " placeholder="Nombre">
              <input type="hidden" name="id" [(ngModel)]="produc.proveedorId">
            </div>


         

          </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="reset()" data-dismiss="modal">Cerrar</button>
          <input type="button" class="btn btn-primary" (click)="updateEmpl(emple.id)" data-dismiss="modal" value="Guardar">
        </div>
      </div>
    </div>
  </div>
</section>
