<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Administración</h2>
    </div>
</header>
<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="">
            <div class="card">
                <div class="card-close">
                    <div class="dropdown">
                        <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow">
                            <a href="#" data-toggle="modal" (click)="$event.preventDefault(); agregar()" data-target="#exampleModal" class="dropdown-item edit"> <i class="fa fa-plus"></i>Agregar</a>
                        </div>
                    </div>
                </div>
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Listado de Roles</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" *ngIf="roles">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Usuario</th>
                                    <th>Descripcion</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let x of roles">
                                    <td>{{ x.id }}</td>
                                    <td>
                                        <a href="#" (click)="$event.preventDefault(); Modificar(x.id);" data-toggle="modal" data-target="#exampleModal">{{
                        x.nombre }}</a>
                                    </td>
                                    <td>{{ x.descripcion }}</td>
                                    <td>
                                        <a href="#" (click)="$event.preventDefault(); Ver(x.id)" data-toggle="modal" data-target="#exampleModal">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" (click)="$event.preventDefault();">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ titulo }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input disabled="{{ buttonDisabled}}" type=" text " class="form-control " name="nombre " [(ngModel)]="rol.nombre" aria-describedby="emailHelp " placeholder="Administrador">
                                <input type="hidden" name="id" [(ngModel)]="rol.id">
                            </div>
                            <div class="form-group ">
                                <label for="apellido ">Descripcion</label>
                                <textarea disabled="{{ buttonDisabled}}" class="form-control" name="descripcion" [(ngModel)]="rol.descripcion">
                                </textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="reset()" data-dismiss="modal">Cerrar</button>
                        <input type="button" class="btn btn-primary" (click)="PersonaNueva()" data-dismiss="modal" value="Guardar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>